@{
    ViewBag.Title = "Caculator";
    var role = ViewBag.role;
    var message = ViewBag.Result;
}
<style>
    .input-group-lg > .form-control:not(textarea), .input-group-lg > .custom-select {
        font-size: 15px;
    }

    .form-control-lg {
        width: 100%;
        height: 48px;
        max-width: 91%;
    }

    .form-select {
        height: 48px;
        font-size: 15px;
    }

    .form-control {
        font-size: 1.5rem;
    }

    label {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
        font-family: Roboto,sans-serif;
    }

    h4 {
        font-size: 13px;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>


@Html.Partial("~/Views/_Header.cshtml")
@section sidebar{
    <div class="nav-side-menu">
        <i class="fa fa-lg fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                @foreach (var m in MM_Freight_Rate_API_Backend.Hepler.ListModules)
                {
                    <a href="@m.URL" style="text-decoration:none">
                        <li data-toggle="collapse" class="collapsed" data-target="#products">
                            <i class="fa fa-lg @m.ICON_IMAGE" style="padding-right:10px"></i>
                            @m.MODULE_NAME
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
}
<body>
    <div style="min-height:80vH">
        <section>
            <h3>Freight Rates Portal</h3>
            <div>
                <input type="text" value="@role" id="role" hidden />
                <div class="row">
                    <div class="col-xs-6 col-md-4" style="margin-top:15px;">
                        <label>Origin<i style="color:red" title="Required">*</i></label>
                        <select class="form-select form-control-lg mb-5" id="sourceSelect">
                            <option value="">Please Select Source!</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-md-4" style="margin-top: 15px; ">
                        <label>Destination<i style="color:red" title="Required">*</i></label>
                        <select class="form-select form-control-lg mb-5" id="destinationSelect">
                            <option value="">Please Select Destination!</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4" style="margin-top: 15px; ">
                        <label>Carrier</label>
                        <select class="form-select form-control-lg mb-5" id="carrierSelect">
                            <option value="">Please Select Carrier</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <label id="lableService">Service Type</label>
                        <select class="form-select form-control-lg mb-5" id="servicesSelect">
                            <option selected value="">Please select carrier firstly</option>
                        </select>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <label id="lablePackaging">Packaging Type</label>
                        <select class="form-select form-control-lg mb-5" id="packagingSelect">
                            <option selected value="">Please select carrier firstly</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <label for="exampleInputEmail1">Weight</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex;">
                            <input type="number" id="weightSelect" placeholder="Weight" class="form-control" aria-label="Weight" style="max-width:395px">
                            <div class="input-group-append">
                                <span class="input-group-text">Kg</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-6 col-md-4" style="margin-top:15px;" id="lengthGroup">
                        <label for="exampleInputEmail1">Length</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="number" id="txtLength" placeholder="Length" class="form-control" aria-label="Weight" style="max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-4" style="margin-top:15px" id="widthGroup">
                        <label for="exampleInputEmail1">Width</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="number" id="txtWidth" placeholder="Width" class="form-control" aria-label="Weight" style="max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4" style="margin-top:15px;" id="heightGroup">
                        <label for="exampleInputEmail1">Height</label>
                        <div class="input-group-lg mb-lg-5, col-xl-12" style="margin-left: -15px; display: flex">
                            <input type="number" id="txtHeight" placeholder="Height" class="form-control" aria-label="Weight" style="max-width: 395px">
                            <div class="input-group-append">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="margin-top:20px">
                    <button type="button" class="btn btn-primary btn-lg" id="searchButton">Search</button>
                </div>
            </div>
            <div style="margin-top:50px">
                <h3>
                    Corporate Rate
                </h3>
                <table class="table display" id="tbResult">
                    <thead>
                        <tr id="table_header">
                            <th scope="col">Carrier</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">Packaging Type</th>
                            <th scope="col">Weight Range(kg)</th>
                            <th scope="col">Current FSC</th>
                            <th scope="col">Working days(day)</th>
                            <th scope="col" onclick='sortByPrice()'>Rate Before Surcharge (SGD)</th>
                            <th scope="col">Rate After Surcharge (SGD)</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="pagination_custom">
                    <ul class="pagination justify-content-end">
                    </ul>
                </div>
            </div>
            <p style="margin-top:60px;margin-bottom:60px">
                <b>Disclaimers:</b><br />
                ·       Customs duties, taxes, service charges and clearance related charges and any other fees (where applicable) are not included in the tariffs.<br />
                ·       Freight rates effective for the current calendar year.
            </p>


            <a id="handleExport" class="btn btn-primary btn-lg"> Export </a>
            @*<input id="btnExport" type="submit" value="Export" class="btn btn-primary btn-lg" />*@

        </section>
        <footer style=" position:absolute;top:100%; font-size:15px;margin-top:10px;">
            <label style="font-weight: normal">Copyright Mentor Media, 2021</label>
        </footer>
    </div>
</body>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {


        var arr = [];

        var serviceOptionDefault = " <option selected value='0'>Services Type</option>";
        var pakagingOptionDefault = "<option selected value='0'>Packaging Type</option>";
        var weightOptionDefault = "<option selected value='0'>Weight</option>";
        $.ajax({
            type: "GET",
            url: baseURL +"/Utility/GetListCountry",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var s = '<option value="">Please Select Country</option>';
                for (var i = 0; i < data.data.length; i++) {
                    s += '<option value="' + data.data[i].text + '">' + data.data[i].text + '</option>';
                }
                $("#sourceSelect").html(s);
                $("#destinationSelect").html(s);
            }
        });
        $.ajax({
            type: "GET",
            url: baseURL +"/Utility/GetListCarriers",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var s = '<option value="">Please Select Carrier</option>';
                for (var i = 0; i < data.data.length; i++) {
                    s += '<option value="' + data.data[i].value + '">' + data.data[i].text + '</option>';
                }
                $("#carrierSelect").html(s);
            }
        });


        // Event choose carrier
        $("#carrierSelect").change(function () {
            var valueOfCarrier = $("#carrierSelect").val();
            if (valueOfCarrier !== "0") {
                var lableService = '<label id="lableService">Service Type<i style="color:red" title="Required">*</i></label>';
                $("#lableService").html(lableService);
                var lablePackaging = '<label id="lablePackaging">Packaging Type<i style="color:red" title="Required">*</i></label>';
                $("#lablePackaging").html(lablePackaging);
            }
            else {
                var lableService = '<label id="lableService">Service Type</label>';
                $("#lableService").html(lableService);
                var lablePackaging = '<label id="lablePackaging">Packaging Type</label>';
                $("#lablePackaging").html(lablePackaging);
            }

            $.ajax({
                type: "GET",
                url: baseURL +"/Utility/GetListPackageTypeByCarrier?carrier=" + valueOfCarrier,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var s = '<option value="">Please Select Packaging Type</option>';
                    for (var i = 0; i < data.data.length; i++) {
                        s += '<option value="' + data.data[i].value + '">' + data.data[i].text + '</option>';
                    }
                    $("#packagingSelect").html(s);
                }
            });

            $.ajax({
                type: "GET",
                url: baseURL +"/Calculator/GetListServices?carrier=" + valueOfCarrier,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var s = '<option value="">Please Select Service Type</option>';
                    for (var i = 0; i < data.data.length; i++) {
                        if (carrier == '' || carrier == data.data[i].extend) {
                            s += '<option value="' + data.data[i].value + '">' + data.data[i].text + '</option>';
                        }
                    }
                    $("#servicesSelect").html(s);
                }
            });

            $("#weightSelect").html(weightOptionDefault);
            var servicesForFedex = serviceOptionDefault + "<option value='1'>Priority (IP)</option>"
                + "<option value='2'>Economy (IE)</option>"
                + "<option value='3'>Priority Freight</option>"
                + "<option value='4'>Economy Freight</option>";
            var servicesForDHL = serviceOptionDefault + "<option value='5'>Express</option>";
            var value = $(this).val();
            if (value == '1')
                $("#servicesSelect").html(servicesForFedex);
            if (value == '2')
                $("#servicesSelect").html(servicesForDHL);
            if (value == '0')
                $("#servicesSelect").html(serviceOptionDefault);

        });
        // Event when choose services type
        $("#servicesSelect").change(function () {
            $("#weightSelect").html(weightOptionDefault);
            var packagingTypeForService1Or2 = pakagingOptionDefault + "<option value='1'>Envelope (Doc)</option>"
                + "<option value='2'>Pak</option>"
                + "<option value='3'>Package</option>";
            var packagingTypeForService3Or4 = pakagingOptionDefault + "<option value='4'>NIL.</option>";
            var packagingTypeForService5 = pakagingOptionDefault + "<option value='5'>Envelope (Doc)</option>"
                + "<option value='6'>Package</option>";
            var serviceValue = $(this).val();
            var packagingTypeElement = $("#packagingSelect");
            if (serviceValue == '1' || serviceValue == '2')
                packagingTypeElement.html(packagingTypeForService1Or2);
            if (serviceValue == '3' || serviceValue == '4')
                packagingTypeElement.html(packagingTypeForService3Or4);
            if (serviceValue == '5')
                packagingTypeElement.html(packagingTypeForService5);
        })
        // Event when choose packaging type
        $("#packagingSelect").change(function () {
            var option1 = weightOptionDefault + "<option value='1'>0-2.5kg</option>";
            var option2 = weightOptionDefault + "<option value='2'>0.5-2.5kg</option>";
            var option3 = weightOptionDefault + "<option value='3'>0.5-99.999kg</option>";
            var option4 = weightOptionDefault + "<option value='4'>Above 68kg -99.999kg</option>";

            var packagingValue = $(this).val();
            var weightElement = $("#weightSelect");

            if (packagingValue == '0' || packagingValue == '5') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option1);
            }
            if (packagingValue == '1' || packagingValue == '5') {
                $('#heightGroup').attr('hidden', true);
                $('#widthGroup').attr('hidden', true);
                $('#lengthGroup').attr('hidden', true);
                weightElement.html(option1);
            }

            if (packagingValue == '2') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option2);
            }

            if (packagingValue == '3' || packagingValue == '6') {
                $('#heightGroup').attr('hidden', false);
                $('#widthGroup').attr('hidden', false);
                $('#lengthGroup').attr('hidden', false);
                weightElement.html(option3);
            }




        })

        $("#searchButton").click(function () {
            var source = $("#sourceSelect").val();
            var desination = $("#destinationSelect").val();
            var carrier = $("#carrierSelect").val();
            var serviceValue = $("#servicesSelect").val();
            var packagingSelect = $("#packagingSelect").val();
            var weightSelect = $("#weightSelect").val() === "" ? 0 : $("#weightSelect").val();
            var height = $("#txtHeight").val() === "" ? 0 : $("#txtHeight").val();
            var length = $("#txtLength").val() === "" ? 0 : $("#txtLength").val();
            var width = $("#txtWidth").val() === "" ? 0 : $("#txtWidth").val();
            $('.pagination').remove();
            var contentToRemove = document.querySelectorAll("#tr-id");
            $(contentToRemove).remove();
            if (source == "" || desination == "") {
                alert('Please select source and destination!');
                return false;
            }
            if ($("#carrierSelect").val() !== "0") {
                if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                    alert('Service, Packaging are not empty');
                    return false;
                }
            }
            $.ajax({
                type: "POST",
                url: baseURL +"/Calculator/GetPriceAdvance",
                data: JSON.stringify({
                    "Length": length,
                    "Height": height,
                    "Width": width,
                    "From": source,
                    "To": desination,
                    "ServiceType": serviceValue,
                    "PackageType": packagingSelect,
                    "Carrier": carrier,
                    "Weight": weightSelect,
                    "PageIndex": 1,
                }),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    var count = 0;
                    for (var i = 0; i < response.data.Data.length; i++) {
                        var item = response.data.Data[i];
                        if (carrier == '' || carrier == item.CARRIER_NAME) {
                            count++;
                            $('<tr id="tr-id">')
                                .append($('<td>').append(item.CARRIER_NAME))
                                .append($('<td>').append(item.SERVICE_TYPE))
                                .append($('<td>').append(item.PACKAGE_TYPE))
                                .append($('<td>').append(item.WEIGHT_RANGE))
                                .append($('<td>').append(item.SURCHARGE))
                                .append($('<td>').append(item.WORKING_DAYS))
                                .append($('<td>').append(item.COST))
                                .append($('<td>').append(item.COST * (1 + item.SURCHARGE / 100)))
                                .appendTo('table tbody');
                        }
                    }

                    if (count == 0) {
                        $('<tr id="tr-id">')
                            .append($('<td colspan="8">').append("No records found!"))
                            .appendTo('table tbody');
                    }

                    var index = response.data.count / 20;
                    if (response.data.count % 20 != 0) {
                        index = index + 1;
                    }

                    $('#tbResult').DataTable();
                    //$('#pagination_custom').append($('<ul class="pagination justify-content-end">'));
                    //for (var n = 1; n <= index; n++) {
                    //    if (n == 1) {
                    //        $('.pagination')
                    //            .append($('<li class="active cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                    //    }
                    //    else {
                    //        $('.pagination')
                    //            .append($('<li class="cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>')) 
                    //    }                             
                    //}
                }
            });
        })    
        $('#handleExport').click(function () {
            if ($("#sourceSelect").val() == "" || $("#destinationSelect").val() == "") {
                alert('Please select source and destination!');
                return false;
            }
            if ($("#carrierSelect").val() !== "0") {
                if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                    alert('Service, Packaging are not empty');
                    return false;
                }
            }
            var height = $("#txtHeight").val() === "" ? 0 : $("#txtHeight").val();
            var length = $("#txtLength").val() === "" ? 0 : $("#txtLength").val();
            var width = $("#txtWidth").val() === "" ? 0 : $("#txtWidth").val();
            var carrier = $("#carrierSelect").val();
            var from = $("#sourceSelect").val();
            var to = $("#destinationSelect").val();
            var service = $("#servicesSelect").val();
            var packageType = $("#packagingSelect").val();
            var weight = $("#weightSelect").val()=== "" ? 0 : $("#txtWidth").val();
            var region = null;
            window.location.href = baseURL + "/Calculator/Export?from=" + from + "&to=" + to + "&service=" + service + "&packageType=" + packageType + "&weight=" + weight + "&region=" + region + "&height=" + height + "&length=" + length + "&width=" + width + "&carrier=" + carrier ;
        });
        $("#btnExport").click(function () {

            var contentToRemove = document.querySelectorAll("#tr-id");
            $(contentToRemove).remove();
            if ($("#sourceSelect").val() == "" || $("#destinationSelect").val() == "") {
                alert('Please select source and destination!');
                return false;
            }
            if ($("#carrierSelect").val() !== "0") {
                if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                    alert('Service, Packaging are not empty');
                    return false;
                }
            }
            var model = {
                Length: $("#txtLength").val(),
                Height: $("#txtHeight").val(),
                Width: $("#srcLogounit").val(),
                 From: $("#sourceSelect").val(),
                To: $("#destinationSelect").val(),
                Region: "",
                ServiceType: $("#servicesSelect").val(),
                PackageType: $("#packagingSelect").val(),
                Weight: $("#weightSelect").val(),

            };
            $.post('@Url.Action("Export", "Calculator")', { model: model }, function (data) {
                console.log(data);
        });
    })

        $(document).ready(function () {
            var role = $("#role").val();
            if (role == "sa") {
                $("#uprate").css("display", "block");
                $("#surrate").css("display", "block");
                $("#asrole").css("display", "block");
            }
            else {
                $("#uprate").css("display", "none");
                $("#surrate").css("display", "none");
                $("#asrole").css("display", "none");
            }
        });
        function search() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("tbResult");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    })
    function GoPageSize(page_size) {
        var source = $("#sourceSelect").val();
        var desination = $("#destinationSelect").val();
        var carrier = $("#carrierSelect").val();
        var serviceValue = $("#servicesSelect").val();
        var packagingSelect = $("#packagingSelect").val();
        var weightSelect = $("#weightSelect").val() === "" ? 0 : $("#weightSelect").val();
        var height = $("#txtHeight").val() === "" ? 0 : $("#txtHeight").val();
        var length = $("#txtLength").val() === "" ? 0 : $("#txtLength").val();
        var width = $("#txtWidth").val() === "" ? 0 : $("#txtWidth").val();
        $('.pagination').remove();
        var contentToRemove = document.querySelectorAll("#tr-id");
        $(contentToRemove).remove();
        if (source == "" || desination == "") {
            alert('Please select source and destination!');
            return false;
        }
        if ($("#carrierSelect").val() !== "0") {
            if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                alert('Service, Packaging are not empty');
                return false;
            }
        }
        $.ajax({
            type: "POST",
            url: baseURL + "/Calculator/GetSearchAdvance",
            data: JSON.stringify({
                "Length": length,
                "Height": height,
                "Width": width,
                "From": source,
                "To": desination,
                "ServiceType": serviceValue,
                "PackageType": packagingSelect,
                "Carrier": carrier,
                "Weight": weightSelect,
                "PageIndex": page_size,
            }),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                console.log(response)
                var count = 0;
                for (var i = 0; i < response.data.Data.length; i++) {
                    var item = response.data.Data[i];
                    if (carrier == '' || carrier == item.CARRIER_NAME) {
                        count++;
                        $('<tr id="tr-id">')
                            .append($('<td>').append(item.CARRIER_NAME))
                            .append($('<td>').append(item.SERVICE_TYPE))
                            .append($('<td>').append(item.PACKAGE_TYPE))
                            .append($('<td>').append(item.WEIGHT_RANGE))
                            .append($('<td>').append(item.SURCHARGE))
                            .append($('<td>').append(item.WORKING_DAYS))
                            .append($('<td>').append(item.COST))
                            .append($('<td>').append(item.COST * (1 + item.SURCHARGE / 100)))
                            .appendTo('table tbody');
                    }
                }

                if (count == 0) {
                    $('<tr id="tr-id">')
                        .append($('<td colspan="8">').append("No records found!"))
                        .appendTo('table tbody');
                }

                var index = response.data.count / 20;
                if (response.data.count % 20 != 0) {
                    index = index + 1;
                }

                $('#tbResult').DataTable();
                //$('#pagination_custom').append($('<ul class="pagination justify-content-end">'));
                //for (var n = 1; n <= index; n++) {
                //    if (n == page_size) {
                //        $('.pagination')
                //            .append($('<li class="active cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                //    }
                //    else {
                //        $('.pagination')
                //            .append($('<li class="cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                //    }
                //}
            }
        });
    }
    function sortByPriceDesc() {
        
        var source = $("#sourceSelect").val();
        var desination = $("#destinationSelect").val();
        var carrier = $("#carrierSelect").val();
        var serviceValue = $("#servicesSelect").val();
        var packagingSelect = $("#packagingSelect").val();
        var weightSelect = $("#weightSelect").val() === "" ? 0 : $("#weightSelect").val();
        var height = $("#txtHeight").val() === "" ? 0 : $("#txtHeight").val();
        var length = $("#txtLength").val() === "" ? 0 : $("#txtLength").val();
        var width = $("#txtWidth").val() === "" ? 0 : $("#txtWidth").val();        
        var page_index = $(".pagination .active").text();
        $('.pagination').remove();
        var contentToRemove = document.querySelectorAll("#tr-id");
        $(contentToRemove).remove();
        if (source == "" || desination == "") {
            alert('Please select source and destination!');
            return false;
        }
        if ($("#carrierSelect").val() !== "0") {
            if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                alert('Service, Packaging are not empty');
                return false;
            }
        }
        $.ajax({
            type: "POST",
            url: baseURL + "/Calculator/GetSearchAdvance",
            data: JSON.stringify({
                "Length": length,
                "Height": height,
                "Width": width,
                "From": source,
                "To": desination,
                "ServiceType": serviceValue,
                "PackageType": packagingSelect,
                "Carrier": carrier,
                "Weight": weightSelect,
                "PageIndex": page_index,
                "OrderBy": "price_desc"
            }),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {

                var newHeader = '<tr id="table_header"> <th scope="col"> Carrier </th> <th scope="col"> Service Type </th> <th scope="col"> Packaging Type </th><th scope="col"> Weight Range(kg) </th><th scope="col"> Current FSC </th><th scope="col"> Working days(day) </th><th scope="col" onclick="sortByPrice()"> Rate Before Surcharge </th><th scope="col"> Rate After Surcharge (SGD) </th> </tr> '                      
                $("#table_header").replaceWith(newHeader);
                var count = 0;
                for (var i = 0; i < response.data.Data.length; i++) {
                    var item = response.data.Data[i];
                    if (carrier == '' || carrier == item.CARRIER_NAME) {
                        count++;
                        $('<tr id="tr-id">')
                            .append($('<td>').append(item.CARRIER_NAME))
                            .append($('<td>').append(item.SERVICE_TYPE))
                            .append($('<td>').append(item.PACKAGE_TYPE))
                            .append($('<td>').append(item.WEIGHT_RANGE))
                            .append($('<td>').append(item.SURCHARGE))
                            .append($('<td>').append(item.WORKING_DAYS))
                            .append($('<td>').append(item.COST))
                            .append($('<td>').append(item.COST * (1 + item.SURCHARGE / 100)))
                            .appendTo('table tbody');
                    }
                }


                if (count == 0) {
                    $('<tr id="tr-id">')
                        .append($('<td colspan="8">').append("No records found!"))
                        .appendTo('table tbody');
                }

                var index = response.data.count / 20;
                if (response.data.count % 20 != 0) {
                    index = index + 1;
                }
                $('#pagination_custom').append($('<ul class="pagination justify-content-end">'));
                for (var n = 1; n <= index; n++) {
                    if (n == page_index) {
                        $('.pagination')
                            .append($('<li class="active cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                    }
                    else {
                        $('.pagination')
                            .append($('<li class="cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                    }
                }
            }
        });
    }
    function sortByPrice() {
        debugger
        var source = $("#sourceSelect").val();
        var desination = $("#destinationSelect").val();
        var carrier = $("#carrierSelect").val();
        var serviceValue = $("#servicesSelect").val();
        var packagingSelect = $("#packagingSelect").val();
        var weightSelect = $("#weightSelect").val() === "" ? 0 : $("#weightSelect").val();
        var height = $("#txtHeight").val() === "" ? 0 : $("#txtHeight").val();
        var length = $("#txtLength").val() === "" ? 0 : $("#txtLength").val();
        var width = $("#txtWidth").val() === "" ? 0 : $("#txtWidth").val();
        var page_index = $(".pagination .active").text();
        $('.pagination').remove();
        var contentToRemove = document.querySelectorAll("#tr-id");
        $(contentToRemove).remove();
        if (source == "" || desination == "") {
            alert('Please select source and destination!');
            return false;
        }
        if ($("#carrierSelect").val() !== "0") {
            if (($("#servicesSelect").val() === "0") || ($("#packagingSelect").val() === "0")) {
                alert('Service, Packaging are not empty');
                return false;
            }
        }
        $.ajax({
            type: "POST",
            url: baseURL + "/Calculator/GetSearchAdvance",
            data: JSON.stringify({
                "Length": length,
                "Height": height,
                "Width": width,
                "From": source,
                "To": desination,
                "ServiceType": serviceValue,
                "PackageType": packagingSelect,
                "Carrier": carrier,
                "Weight": weightSelect,
                "PageIndex": page_index,
                "OrderBy": "price"
            }),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (response) {

                var newHeader = '<tr id="table_header"> <th scope="col"> Carrier </th> <th scope="col"> Service Type </th> <th scope="col"> Packaging Type </th><th scope="col"> Weight Range(kg) </th><th scope="col"> Current FSC </th><th scope="col"> Working days(day) </th><th scope="col" onclick="sortByPriceDesc()"> Rate Before Surcharge </th><th scope="col"> Rate After Surcharge (SGD) </th> </tr> '
                $("#table_header").replaceWith(newHeader);
                var count = 0;
                for (var i = 0; i < response.data.Data.length; i++) {
                    var item = response.data.Data[i];
                    if (carrier == '' || carrier == item.CARRIER_NAME) {
                        count++;
                        $('<tr id="tr-id">')
                            .append($('<td>').append(item.CARRIER_NAME))
                            .append($('<td>').append(item.SERVICE_TYPE))
                            .append($('<td>').append(item.PACKAGE_TYPE))
                            .append($('<td>').append(item.WEIGHT_RANGE))
                            .append($('<td>').append(item.SURCHARGE))
                            .append($('<td>').append(item.WORKING_DAYS))
                            .append($('<td>').append(item.COST))
                            .append($('<td>').append(item.COST * (1 + item.SURCHARGE / 100)))
                            .appendTo('table tbody');
                    }
                }


                if (count == 0) {
                    $('<tr id="tr-id">')
                        .append($('<td colspan="8">').append("No records found!"))
                        .appendTo('table tbody');
                }

                var index = response.data.count / 20;
                if (response.data.count % 20 != 0) {
                    index = index + 1;
                }
                $('#pagination_custom').append($('<ul class="pagination justify-content-end">'));
                for (var n = 1; n <= index; n++) {
                    if (n == page_index) {
                        $('.pagination')
                            .append($('<li class="active cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                    }
                    else {
                        $('.pagination')
                            .append($('<li class="cursor-pointer" onclick="GoPageSize(' + n + ')">').append('<a>' + n + '</a>'))
                    }
                }
            }
        });
    }
    
</script>
